body {
  align-items: center;
  color: white;
  height: 100vh;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;
}

.home {
  background-image: url("assets/images/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

h1 {
  font-family: 'Bentham', serif;
  font-size: 3em;
  margin: 0;
  padding-bottom: 10px;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin: 10px 0 0 0;
}

nav {
  font-family: 'Bentham', serif;
  font-size: 1.3em;
  float: right;
}

li {
  border: 1px solid white;
  display: inline-block;
  list-style: none;
  margin: 0 18px 10px;
  padding: 10px 12px;
}

.home-blocks {
  display: flex;
  clear: right;
  flex-wrap: wrap;
  height: 360px;
  float: left;
  margin-left: 85px;
  margin-top: -20px;
  width: 450px;
}

footer {
  bottom: 10px;
  box-sizing: border-box;
  font-size: .5em;
  padding-right: 10px;
  position: absolute;
  text-align: right;
  width: 100%;
}

.block-item {
  box-sizing: border-box;
  height: 50%;
  margin: 0;
  padding: 30px;
  width: 50%;
}

.block-item:nth-child(1) {
  border-bottom: white solid 1px;
  border-right: 1px solid white;
}

.block-item:nth-child(4) {
  border-left: 1px solid white;
  border-top: 1px solid white;
  margin-left: -1px;
  margin-top: -1px;
}
