.body-content {
  margin: 40px auto;
  max-width: 80vw;
  padding: 20px 40px 40px;
  text-align: left;

  .home & {
    margin-top: -20px;
  }

  @media (min-width: 500px) {
    max-width: 700px;
  }

  p {
    font-family: $sans-serif;
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  h2 {
    font-family: $serif;
    font-size: 2em;
    font-weight: 400;
    margin: 60px auto 30px;

    @media (min-width: 700px) {
      font-size: 2.3em;
    }
  }

  > h2:first-child {
    margin-top: 0;
  }

  a {
    border-bottom: 1px solid $black;
    color: $black;
    // font-size: .9em;
    font-weight: bolder;
  }

  img {
    max-width: 100%;
  }
}

.about-intro {
  p {
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.4;
  }

  &::after {
    background-color: $black;
    content: '';
    display: block;
    height: 3px;
    left: 50%;
    margin-left: -20px;
    margin-top: 60px;
    position: relative;
    width: 40px;
  }
}

.about-block {
  &::after {
    background-color: $black;
    content: '';
    display: block;
    height: 3px;
    left: 50%;
    margin-bottom: 70px;
    margin-left: -20px;
    margin-top: 70px;
    position: relative;
    width: 40px;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.client-list {
  font-family: $sans-serif;
  font-size: 1.1rem;
  margin-bottom: -20px;
  margin-left: 0;
  margin-top: -10px;
  padding-left: 0;

  a {
    display: inline-block;
    margin: 0 15px 15px 0;
    padding: 1px 0;
  }

  li {
    // background-color: $grey;
    display: inline-block;
    list-style: none;
  }
}

.item-list {
  list-style: none;
  margin: 25px auto -40px;
  max-width: 373px;
  overflow: hidden;
  padding: 0;

  h3 {
    font-family: $serif;
    font-size: 1.3rem;
    font-weight: normal;
    padding-left: 40px;
    position: relative;
  }

  .material-icons {
    font-size: 1.8rem;
    left: 0;
    position: absolute;
    top: -.2rem;
    vertical-align: middle;
  }

  > li {
    box-sizing: border-box;
    margin-bottom: 40px;
    max-width: 373px;
    padding: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }

    img {
      max-width: 100%;
    }
  }

  @media (min-width: 550px) {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: none;
    width: 100%;

    > li {
      padding: 0 15px;
      width: 50%;
    }
  }

  @media (min-width: 650px) {
    > li {
      padding: 0 40px;
    }
  }
}



.skill-list {
  font-family: $sans-serif;
  list-style-type: none;

  > li {
    position: relative;
    margin-bottom: .8em;

    &:before {
      content: '–';
      left: -18px;
      position: absolute;
    }
  }
}

.jump-to {
  margin: 75px auto;
  max-width: 66vw;

  .jump-to-title {
    display: inline-block;
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .jump-to-item {
    border-bottom: 1px solid $black;
    display: inline-block;
    font-family: $serif;
    font-size: 1.3em;
    font-weight: 400;
    list-style: none;
    margin: 0 12px;
  }

  a {
    color: $black;
  }
}

.callout {
  background: $mef-teal;
  color: $white;
  margin-bottom: 30px;
  margin-top: 80px;
  padding: 40px 30px 50px;

  @media (min-width: 700px) {
    padding: 40px 80px 50px;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    text-transform: none;

    @media (min-width: 700px) {
      font-size: 2.6rem;
    }
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;

    @media (min-width: 700px) {
      font-size: 1.4rem;
    }

    &:last-child {
      margin-bottom: 0;
      text-align: center;
    }
  }

  a {
    border-bottom: 1px solid $white;
    color: $white;
    font-weight: bold;
    white-space: nowrap;
  }
}
