.body-content {
  margin: 40px auto;
  padding: 20px 40px 40px;
  text-align: left;

  .home & {
    margin-top: -20px;
  }

  @media (min-width: 500px) {
    max-width: 700px;
  }

  p {
    font-family: $sans-serif;
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  h2 {
    font-family: $serif;
    font-size: 2em;
    font-weight: 400;
    margin: 60px auto 30px;

    @media (min-width: 700px) {
      font-size: 2.3em;
    }

  }

  > h2:first-child {
    margin-top: 0;
  }

  h3 {
    font-family: $sans-serif;
    font-size: 1.4em;
  }

  a {

    color: $black;
    display: inline-block;
    // font-size: .9em;
    position: relative;
    //transition: background .5s ease;

    &:after {
      border-bottom: 1px solid $black;
      bottom: 1px;
      content: '';
      display: block;
      position: absolute;
      transition: .2s all ease;
      width: 100%;
    }

    &:hover {
      font-weight: bold;

      &:after {
        transform: scaleX(0);
      }
    }
  }

  img {
    max-width: 100%;
  }

  .inline-image {
    max-width: 500px;
    width: 100%;
  }
}

.about-intro {
  p {
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.4;
  }
}

hr {
  background-color: $black;
  border: 0;
  display: block;
  height: 3px;
  left: 50%;
  margin-bottom: 70px;
  margin-left: -20px;
  margin-top: 70px;
  position: relative;
  width: 40px;
}

.client-list {
  font-family: $sans-serif;
  font-size: 1.1rem;
  margin-bottom: -20px;
  margin-left: 0;
  margin-top: -10px;
  padding-left: 0;

  li {
    // background-color: $grey;
    display: inline-block;
    list-style: none;

    &:after {
      content: ','
    }
  }
}

.item-list {
  list-style: none;
  margin: 25px 0 -40px;
  max-width: 100%;
  overflow: hidden;
  padding: 0;

  h3 {
    font-family: $serif;
    font-size: 1.3rem;
    font-weight: normal;
    padding-left: 40px;
    position: relative;
  }

  .material-icons {
    font-size: 1.8rem;
    left: 0;
    position: absolute;
    top: -.2rem;
    vertical-align: middle;
  }

  > li {
    box-sizing: border-box;
    margin-bottom: 40px;
    max-width: 100%;
    padding: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }

    img {
      max-width: 100%;
    }
  }

  @media (min-width: 550px) {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    max-width: none;
    width: calc(100% + 30px);

    > li {
      padding: 0 15px;
      width: 50%;
    }
  }
}



.skill-list {
  font-family: $sans-serif;
  list-style-type: none;

  > li {
    position: relative;
    margin-bottom: .8em;

    &:before {
      content: '–';
      left: -18px;
      position: absolute;
    }
  }
}

.jump-to {
  margin: 75px auto;
  max-width: 66vw;

  .jump-to-title {
    display: inline-block;
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .jump-to-item {
    border-bottom: 1px solid $black;
    display: inline-block;
    font-family: $serif;
    font-size: 1.3em;
    font-weight: 400;
    list-style: none;
    margin: 0 12px;
  }

  a {
    color: $black;
  }
}

.callout {
  background: $mef-teal;
  color: $white;
  margin-bottom: 30px;
  margin-left: -40px;
  margin-right: -40px;
  margin-top: 80px;
  padding: 40px 40px 50px;

  &:last-child {
    .home & {
      margin-bottom: -40px;
    }
  }

  @media (min-width: 700px) {
    padding: 40px 80px 60px;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    text-transform: none;

    @media (min-width: 700px) {
      font-size: 2.6rem;
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 1.6;

    @media (min-width: 700px) {
      font-size: 1.4rem;
    }

    &:last-child {
      margin-bottom: 0;
      text-align: center;
    }
  }

  a {
    color: $white;
    white-space: nowrap;

    &:after {
      border-color: $white;
    }
  }
}

.related-links {


  p {
    font-family: $serif;
    font-size: 1.4rem;
    margin: 0 0 .8rem;
  }

  /*
  background-color: $mef-teal;
  box-sizing: border-box;
  color: $white;
  font-family: $serif;
  font-size: 1.8em;
  height: 140px;
  margin-bottom: 20px;
  max-width: 380px;
  padding: 30px 30px 10px;
  text-align: center;
  vertical-align: middle;
  width: 100%;

  @media (min-width: 585px) {
    font-size: 1.4em;
    height: 140px;
    margin-right: calc(10% - 30px);
    padding: 40px 30px 30px;
    width: 45%;
  }

  @media (min-width: 680px) {
    font-size: 1.8em;
    height: 160px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:after {
    border-bottom: 0 !important;
  }

  &:hover {
    font-weight: normal;
  }

  span {
    font-family: $sans-serif;
    font-size: .6em;
  }*/

}
