.contact-block {
  color: $black;
  margin: 40px auto;
  max-width: 80vw;

  @media (min-width: 800px) {
    max-width: 68vw;
  }

  h2 {
    font-family: $serif;
    font-size: 1.6em;
    font-weight: 400;

    @media (min-width: 800px) {
      font-size: 1.8em;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 700px;
    padding: 0;
  }

  &__item {
    //border: 1px solid $black;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 10px 0 15px;
    text-align: left;
    width: 100%;

    a {
      //border-bottom: 1px solid $black;
      color: $black;
      font-family: $sans-serif;
      font-size: 1.2em;
      font-weight: 300;
      position: relative;

      &:after {
        border-bottom: 1px solid $black;
        bottom: -3px;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        transition: .2s all ease;
        width: 100%;
      }

      &:hover {
        font-weight: bold;

        &:after {
          transform: scaleX(0);
        }
      }
    }

    @media (min-width: 700px) {
      height: 200px;
      padding: 30px 30px 45px;
      text-align: center;
      width: 50%;

      a {
        font-size: 1.2em;
      }
    }

    @media (min-width: 900px) {
      a {
        font-size: 1.4em;
      }
    }
  }
}

.contact_intro {
  font-family: $serif;
  font-size: 1.5em;
  font-weight: 400;
  margin: 60px auto 0;
  max-width: 80vw;
  text-align: center;

  @media (min-width: 500px) {
    max-width: 68vw;
  }
}
