footer {
  background: $grey;
  box-sizing: border-box;
  font-size: .7em;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-top: 5px;
  text-align: right;
  width: 100%;

  .home & {
    background: none;
    bottom: 15px;
    color: $white;
    padding-bottom: 0;
    position: absolute;
  }
}
