.header {
  background: $white;
  overflow: hidden;
  text-align: center;

  .home & {
    background-color: transparent;

    a {
      color: $white;
    }
  }
}

.home-button {
  color: $black;
  display: inline-block;
  font-family: $serif;
  font-size: 1.8em;
  margin-top: 24px;

  .home & {
    display: none;
  }

  @media (min-width: 600px) {
    float: left;
    margin-left: 40px;
  }
}
