.hero {
  align-items: center;
  background: $white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 300px;
  min-height: 300px;
  justify-content: center;
  overflow: hidden;
  position: relative;

  h1,
  p {
    max-width: 500px;
    text-align: center;
  }

  p {
    font-size: 1.5em;

    @media (min-width: 500px) {
      font-size: 1.8em;
    }
  }

  h1 {
    font-size: 3.5em;
    font-weight: 400;

    &::after {
      background-color: $black;
      content: '';
      display: block;
      height: 3px;
      left: 50%;
      margin-left: -20px;
      margin-top: 15px;
      position: relative;
      width: 40px;
    }

    @media (min-width: 500px) {
      font-size: 4em;
    }
  }

  &__background {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  &__box {
    padding: 30px 20px 40px;
    position: relative;
    z-index: 10;
  }

  &--projects {
    background-color: #efefef;
  }

  &--about {
    //background-image: url('/assets/images/projects.jpg');
    color: $white;

    h1 {
      &::after {
        background-color: $white;
      }
    }
  }

  &--contact {
    // background-image: url('/assets/images/contact.jpg');
    color: $white;

    h1 {
      &::after {
        background-color: $white;
      }
    }
  }
}

.content-header {
  background: #efefef;
  margin: 20px auto 0;
  //max-width: 700px;
  padding: 60px;

  h1 {
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;

    @media (min-width: 600px) {
      font-size: 3rem;
    }

    @media (min-width: 700px) {
      font-size: 3rem;
    }
  }
}
