nav {
  font-family: $sans-serif;
  font-size: 1.1em;

  @media (min-width: 600px) {
    font-size: 1.2em;
  }

  ul {
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 0;

    @media (min-width: 600px) {
      margin-bottom: 25px;
    }
  }

  .nav {
    display: inline-block;
    list-style: none;
    margin: 0 14px 0;

    &--active {
      a,
      a:hover {
        border-bottom: 3px solid $mef-teal;
        font-weight: bold;
      }
    }
  }

  a {
    border-bottom: 3px solid transparent;
    color: $black;
    display: block;
    padding: 12px 0 6px 0;

    &:hover {
      border-bottom: 3px solid #e0e0e0;
    }
  }
}

@media (min-width: 600px) {
  nav {
    color: $black;
    float: right;
    padding-right: 40px;
    padding-top: 5px;
  }
}
