$light-grey-transparent: rgba(139, 137, 137, .5);
$white: #fff;
$burnt-orange: #993d2a;
$grey-blue: #4a6679;
$mustard: #c38f0b;
$light-blue: #583f00;
$light-grey: #eee;
$brown: #37302e;

$mid-grey: #666;
$black: #000;

$pink:        #c15f70;
$pink-light:  #e26f81;

$hero-background-projects: rgba(255, 255, 255, .8);
$hero-border-projects: rgba(168, 189, 210, .6);

$hero-background-about: rgba(255, 255, 255, .9);
$hero-border-about: rgba(255, 230, 218, .6);

$hero-background-contact: rgba(255, 255, 255, .9);
$hero-border-contact: rgba(255, 230, 218, .6);

$peach: #fceadb;
$yellow: #fdbf2d;
$orange: #f59b57;
$burgundy: #933837;
$grey: #f7f7f7;

$mef-teal: #529aad;
